#productpaged{
    padding-top: 160px;
    
    display: flex;
}

#imgshow{
   
    width: 40%;
}
img{
    width: 100%;
    
}
#buyit h2{
    margin-left: 50px;
}
.bought{
    margin-left: 34px;
    margin-top: 20px;
    height: 50px;
    width: 300px;
    border-color: orange;
    border-radius: 5px;
    font-size: 20px;
}

.bought:hover{
    height: 50px;
    width: 300px;
    border-color: orange;
    cursor: pointer;
}
#buyit>button:last-child{
    color: white;
    background-color: orange;
}

#btn1{
    color: orange;
    background-color:white;
    
}


